#import "template_base.typ": *
#show: letter.with(
  sender: [
     ${applicantContactInformation}
  ],
  recipient: [
    Hiring Manager \
    ${companyFullName} \
  ],
  date: [${date_string}],
  subject: [Cover Letter for ${jobTitle}],
  name: [${applicantFullName}],
)

${letter_body}